*
{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  background-color: #1d1d1d;
}
.ic{
   width: 100vw;
   height: 300vh;
   margin: auto ;
  
}
.topvideo{
    width: 100vw;
    height: 40vh;
    margin: auto;
    display: flex;
}

.incon
{
 width: 30vw;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;

}
.incon img {
   width: 80%;
  background-color:#c06702;
}

.ca{
    width: 50vw;
    height: 1vh;
    margin: auto;
    display: flex;
}
.heyi1{
    width: 90vw;
    height: 20vh;
    display: flex;
    margin: auto;
}
.heyi1text{
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: auto;
}
.heyi2{
    width: 90vw;
    height: 20vh;
    display: flex;
    margin: auto;
}
.heyi2text{
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: auto;
}
.heyi3{
    width: 90vw;
    height: 18vh;
    display: flex;
    margin: auto;
}
.heyi3text{
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: auto;
}
.heyi4{
    width: 90vw;
    height: 20vh;
    display: flex;
    margin: auto;
}
.heyi4text{
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: auto;
}
.heyi5{
    width: 95vw;
    height: 14vh;
    display: flex;
    margin: auto;
}
.heyi5text{
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: auto;
}
.heyi6{
    width: 90vw;
    height: 26vh;
    display: flex;
    margin: auto;
}
.heyi6text{
    width: 90vw;
    height: 20vh;
    display: flex;
    margin: auto;
}
.heyi7{
    width: 90vw;
    height: 18vh;
    display: flex;
    margin: auto;
}
.heyi7text{
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: auto;
}
